.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    color: var(--primary-color);
    border: var(--primary-color) solid 1px;
    border-radius: 15px;
    background: none;
}